<div class="ui container submission-page-wrap">
    <div class="ui container center aligned submission-page">
        <div class="ui segment submission-page-card">
            <div class="content submission-page-card--content">
                <h1 class="header massive">Form was submitted!</h1>
                <i class="check circle outline green massive icon"></i>
                <small class="ui text small">Click the button below to go back to the form.</small>
            </div>
        </div>

        <button class="ui submit success green huge button" [routerLink]="''"><i class="arrow left icon"></i>View
            Form</button>
    </div>
</div>